*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.mid-width  {
    max-width: 1300px;
    margin: auto;
}
/* main css */
.header-section{
    background-color: #f5deb3;
}
.header-row{
    display: flex;
    flex-wrap: wrap;
}
.logo{
    
}
.logo img{
    display: inline-block;
    width: 160px;
    margin-top: 7px;
    height: auto;
}
.menubar{
    margin-left: auto;
}
.menubar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    line-height: 65px;
}
.menubar ul li{
    border-right: 1px solid #fff;
    display: inline-block;
}
.menubar ul li a{
    display: inline-block;
    text-decoration: none;
    padding: 3px 25px;
    color: #fff;
    font-size: 24px;
    box-sizing: border-box;
    transition: .4s;
}
.menubar ul li:nth-child(1){
    border: none;
}
.menubar ul li a:hover{
    background-color: #fff;
    color:#f5deb3 ;
}

/* slider-section */
.slider-section{
    background-image: url(https://i.ibb.co/QHVPzmg/intro-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 210px 0;
    background-size: cover;
}
.slider-content h4{
    color: #3498DB;
    font-size: 34px;
    margin-bottom: 15px;

}
.slider-content h3{
    color: #3498DB;
    font-size: 40px;
}
/* about-section */
.about-section{
    padding: 100px 0;
}
.about-row{

    display: flex;
}
.about-left{
    flex-basis: 40%;
    text-align: center;
}
.about-right{
    flex-basis: 60%;
}
.about-left img{
    width: 320px;
}
.about-right h1{

    margin-top: 15px;
    font-size: 35px;
    margin-bottom: 15px;
}
.about-right h2{

    font-size: 30px;
    margin-bottom: 25px;
}
.about-right p{
    
    font-size: 16.5px;
    line-height: 34px;
}
/* service-section */
.service-section{
    background: #fffaf0;
    padding: 100px 0;
}
.service-row{

    display: flex;
}
.service-box{
    
    text-align: center;
    border: 2px dashed #8080805e;
    border-radius: 70px 0 70px 0;
    padding: 70px 50px;
    flex: 1 1 auto;
    margin-right: 34px;
}
.service-box span{

    display: inline-block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border: 2px solid #3498db;
    border-radius: 30px 0 30px 0;
    font-size: 50px;
    color: #3498db;
}
.service-box h1{

    font-size: 30px;
    margin: 15px 0;
}
.service-box p{
    margin: auto;
    color: #111;
    font-weight: 500;
}

/* footer-section */
.footer-section{
    background-color: #2c3e50;
    padding: 18px 0;
}
.footer-row{
    display: flex;
}
.footer-content{

}
.footer-content p{

    color: #fff;
    font-size: 20px;
}
.socal-icon{

    margin-left: auto;
}
.socal-icon ul{
    display: flex;
    list-style: none;
}
.socal-icon ul li{}
.socal-icon ul li a{
    display: inline-block;
    color: #fff;
    padding: 0 15px;
    font-size: 20px;
    transition: .4s;
}
.socal-icon ul li a:hover{
    color: #f5deb3 ;

}
/* End */